{% extends "layout.html" %}

{% block body %}

<body>    
    <form action="{{ url_for('enter_costs') }}" method="post">
        <input type="text" name="item" placeholder="Enter Item">
        <input type="text" name="size" placeholder="Enter Size">
        <input type="text" name="unit" placeholder="Enter Unit of Measurement">
        <input type="text" name="cost" placeholder="Enter Unit Cost">
        <input type="text" name="note" placeholder="Enter Notes">
        <button type="submit" name="add_line" value="add_line">Add Line</button>
    </form>
        
    <h3>Takeoff Table</h3>
    
    <div class="summary_table">
        <table>
            <tr>
            <th>Item Name</th>
            <th>Size</th>
            <th>Unit of Measure</th>
            <th>Cost</th>
            <th>Notes</th>
            <th>Options</th>
            </tr>
        <tr>
            {% for item in takeoff %}
            {% for piece in item %}
                <td>{{ piece }}</td>  
            {% endfor %}
            <td><a href="www.google.com">delete line</a></td>
        </tr>
            {% endfor %}
        </table>
    </div>  
    
    <br>
    
    <form action="{{ url_for('enter_costs') }}" method="post">
        <button>Submit to Database</button>
        <p></p>
        <button type="submit" name="clear_table" value="clear_table">Clear Table</button>
    </form>
</body>  

{% endblock %}