<!DOCTYPE html>
<html>
  <head>
    <title>Utility Cost Estimate Tool</title>
    <!<link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  </head>

  
  <body>
  <h2>
    Enter Construction Costs
  </h2>
  
  <table>
    <tr>
      <th>Catagory</th>
      <th>Item</th>
      <th>Unit</th>
      <th>Cost</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>
        <select>
          <option value="Pipe">Pipe</option>
          <option value="Valves">Valves</option>
          <option value="Manholes">Manholes</option>
          <option value="Other">Other</option>
        </select>
      </td>
      <td>
        <select>
          <option value="Pipe">Pipe</option>
          <option value="Valves">Valves</option>
          <option value="Manholes">Manholes</option>
          <option value="Other">Other</option>
        </select>
      </td>
      <td>
        <select>
          <option value="Pipe">Pipe</option>
          <option value="Valves">Valves</option>
          <option value="Manholes">Manholes</option>
          <option value="Other">Other</option>
        </select>
      </td>
      <td>
        <select>
          <option value="Pipe">Pipe</option>
          <option value="Valves">Valves</option>
          <option value="Manholes">Manholes</option>
          <option value="Other">Other</option>
        </select>
      </td>
      <td width="40
      
      %"> </td>
      
    </tr>
  </table>
</table>
</body>
